h1 {
  color: darkblue;
  text-transform: uppercase;
}

form {
  padding: 20px;
}

ul {
  text-align: center;
  display: block;
  list-style-type: "🐢";
  margin-left: 30px;
  padding-left: 10px;
  padding: 3px 8px 3px 8px;
  float: left;
}
